@media (max-width: 700px) {
    .footer-nav ul{
        flex-direction: column;
        align-items: center;
    }
    .footer-nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    
}

.navigation {
    background-color: rgb(26,113,168);
    padding-bottom: 50px;
}   

#link {
    color: rgb(252,158,6);
    letter-spacing: 1px;
    font-weight: 1000;
    margin-top: 35px;
    margin-left: 100px;
}
#link:hover {
    color: rgb(26,113,168);
    background-color: rgb(252,158,6);
    transition: 0.5s;
}
/* welcome page */
.our_box .titlepage {
    text-align: right;
    padding-bottom: 30px;
}

.text_norlam {
    font-weight: normal;
   
}

.our_box {
    margin-top: 30px;
    text-align: center;
}

.our_box p {
    font-size: 17px;
    line-height: 25px;
    color: #313131;
    padding: 0px 0px 40px 0px;
}

.our .img_box {
    margin-bottom: 0px;
}

.img_box figure {
    margin: 30px;
    padding: 30px;

}

.img_box figure img {
    width: 100%;
}

/* rooms */
.choose {
    margin-top: 90px;
    
}

.choose_box {
    
    padding-top: 76px;
}

.choose_box .titlepage {
    text-align: left;
    padding-bottom: 35px;
}

.text_norlam {
    font-weight: normal;
}

.choose_box p {
    font-size: 17px;
    line-height: 36px;
    color: #313131;
    padding: 0px 0px 45px 0px;
}

.choose_box_right {
    text-align: right;
}

.img_box {
    margin-bottom: 10px;
}

.img_box figure {
    margin: 0;
}

.img_box figure img {
    width: 100%;
}

/* amenities */
.stay {
    margin-top: 0%;
}
    
.stay_box {
        padding-top: 45px;
}
    
.stay_box .titlepage {
        text-align: left;
        padding-bottom: 15px;
}
    
.text_norlam {
        font-weight: normal;
}
    
.stay_box p {
        font-size: 17px;
        line-height: 36px;
        color: #313131;
        padding: 0px 0px 45px 0px;
}
    
.stay_box_right {
        text-align: right;
}
    
.card {
        margin-bottom: 30px;
}
    
.card figure {
        margin: 0;
}
    
.card figure img {
        width: 100%;
}

/* Events */
.title h1{
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
}
.events {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}
.card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.button {
    font-size: 15px;
    text-decoration: none;
    color: rgb(252,158,6);
    background-color: rgb(26,113,168);
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.button:hover {
    color: rgb(26,113,168);
    background-color: rgb(252,158,6);
    transition: 0.4s ease;
}




/* Gallerry */
.gallery {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20pt;
    font-weight: lighter;
}

#events {
    width: 600px;
    height: 600px;
    padding: 50px;
}

#gal {
    width: 400px;
    height: 400px;
    padding: 50px;
}

/* footer */
.footer-container {
    width: 100%;
    padding: 70px 30 px 20px;
    background-color: white;
}
.social-media {
    display: flex;
    justify-content: center;   
}
.social-media a {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(252,158,6);
    margin: 10px;
    border-radius: 50%;
}
.social-media a i {
    font-size: 2em;
    color: rgb(26,113,168);
    opacity: 0.9;
}
.social-media a:hover {
    background-color: rgb(26,113,168);
    transition: 0.5s;
}
.social-media a:hover i{
    color: rgb(252,158,6);
    background-color: rgb(119,204,232);
    padding: 5px;
    border-radius: 80%;
    transition: 0.5s;
}
.footer-container {
    background-color: rgb(26,113,168);
    padding-top: 30px;
}
.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footer-nav ul li a {
    color: rgb(252,158,6);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footer-nav ul li a:hover {
    color: rgb(26,113,168);
    background-color: rgb(252,158,6);
    opacity: 5;
}
.footer-bottom {
    color:rgb(252,158,6);
    padding: 20px;
    text-align: center;
}
.footer-bottom p {
    color: rgb(252,158,6);
}
.designer {
    background-color: rgb(252,158,6);
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px 5px;
    padding: 5px 5px;
    align-items: center;
    text-transform: capitalize;
    border-radius: 100%;
}


